@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --title-colour: #87CEEB;
    --setting-description-colour: #FFFFFF;
    --main-background-colour: #1F1F1F;
    --body-background-colour: #000000;
    --input-background-colour: #919191;
    --input-colour: #FFFFFF;
    --input-border-colour: var(--title-colour);
    --capturing-background-colour: #FFFFFF;
    --capturing-colour: #000000;
    --main-border-radius: 10px;
    --input-border-radius: 7.5px;
    --main-gap: 10px;
    --main-padding: 10px;
    --setting-padding: 20px;
    --input-padding: 5px;
    --input-border-width: 1.5px;
    --capturing-font-size: 20px;
    --setting-font-size: 14px;
}

body {
    width: 350px !important;
    background-color: var(--body-background-colour);
    font-family: "Fredoka", sans-serif;
    user-select: none;
    select: none;
}

.main-container {
    display: flex;
    margin: var(--main-padding) 5px;
    padding: var(--main-padding);
    flex-direction: column;
    row-gap: var(--main-gap);
    border-radius: var(--main-border-radius);
    background-color: var(--main-background-colour);
}

.main-item > #title {
    text-align: center;
    color: var(--title-colour);
}

.setting {
    display: flex;
    padding-inline: var(--setting-padding);
    flex-direction: row;
    align-items: center;
    column-gap: var(--main-gap);
    border-radius: var(--main-border-radius);
    color: var(--setting-description-colour);
}

.setting > input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.setting > input[type="number"]::-webkit-inner-spin-button, 
.setting > input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.setting-item {
    width: 100%;
}

.setting-item > .description {
    max-height: fit-content !important;
}

.setting-item input {
    background-color: var(--input-background-colour);
}

.setting > input:is([type="text"], [type="email"], [type="number"]) {
    padding: var(--input-padding);
    border: var(--input-border-colour) var(--input-border-width) dashed;
    border-radius: var(--input-border-radius);
    color: var(--input-colour);
    background-color: var(--body-background-colour);
}

.setting > input:is([type="text"], [type="email"], [type="number"]):focus {
    border-style: solid;
    outline: none;
}

.setting:not(#capturing) > .description {
    font-size: var(--setting-font-size);
}

.setting#capturing {
    margin-inline: 5px;
    padding: var(--input-padding);
    border-radius: var(--main-border-radius);
    color: var(--capturing-colour);
    background-color: var(--capturing-background-colour);
}

.setting#capturing > .description {
    font-size: var(--capturing-font-size);
}

.setting#capturing > input {
    width: fit-content;
    cursor: pointer;
}

.setting#email > input {
    width: 200px;
}

.setting#mcq > input,
.setting#open-ended > input {
    width: 25px;
    text-align: right !important;
}
